<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Looting Art</title>
  </head>
  <body style="font-family: sans-serif; background: thistle; text-align:center;">
    <h1>Looting Art Transformator</h1>

    <form name="form" enctype="multipart/form-data" action="/testCSV/" method="POST">
      {% csrf_token %}
      <div>
        <div>
          <label for="colunm">Give a column name</label>
          <input style="
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid #4CAF50;
          border-radius: 4px;" type="text" id="column" name="column" placeholder="Column Name" required/>
        </div>
        <br>
        <label for="testCSV">Please upload a csv-file</label>
        <input type="file" id="testCSV" name="testCSV"/>
      </div>
      <br />
      <div>
        <button
        style="
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #4CAF50; /* Green */"
          type="submit"
        >
          <strong>Flag input and download result</strong>
        </button>
      </div>
    </form>
  </body>
</html>
